---
import { Image } from 'astro:assets';

interface Props {
    image: string;
    content: string;
    dateRange: string;
    imageWidth: number;
    imageHeight: number;
}

const { image, dateRange, content, imageWidth, imageHeight } = Astro.props;
---

<div class="my-card-large">
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-12 py-2 ps-4 me-0 mt-2">
            <Image
                    src={image}
                    class="img-fluid img-border-10"
                    alt="Devinet"
                    width={imageWidth}
                    height={imageHeight}
                    loading="lazy"
            />
        </div>
        <div class="col-xl-10 col-lg-10 col-md-10 col-12 py-2 pe-4 ms-0 mt-2">
            <strong>{dateRange}</strong>
            <p>{content}</p>
        </div>
    </div>
</div>

<style>
    .my-card-large {
        color: var(--bg-card);
        width: 100%;
        height: 100%;
        border-radius: 10px;
        margin-bottom: 1rem;
        min-height: 130px;
    }
</style>